.register-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0ffff;
  height: 100vh;
}
.register-form-cell {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-label {
  color: black;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 3px;
}
.register-input {
  width: 330px;
  height: 30px;
  border-radius: 3px;
}
.dropdown-container {
  display: flex;
  flex-direction: column;
  width: 335px;
}
.budget-per-person {
  color: black;
  margin: 3px 0px 3px 10px;
  font-weight: 600;
}
.submit-button {
  margin-top: 15px;
  padding: 15px 25px 15px 25px;
  border-radius: 8px;
  color: #000;
  background-color: #f89f64;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b0e0e6;
  padding: 15px;
  border-radius: 20px;
}

.dropdown {
  padding: 9px;
  width: 340px;
  border-radius: 3px;
}
.dropdown-container {
  margin-top: 8px;
}

.budget-input {
  width: 320px;
}
.form-label {
  font-style: normal;
}
